body {
  background-color: #31572C;
}

.App {
  text-align: center;
}

.App-header {
  background-color: #132A13;
  min-height: 70px;
  padding: 20px;
  color: white;
  margin-bottom: 20px;
}

.App-title {
  font-size: 2em;
}

.App-intro {
  font-size: large;
}

.questionnaire {
  background-color: #31572C;
}

.questionnaire input, label {
  font-size: 115%;
}

.confirmation {
  font-size: 175%;
}

h4 {
  font-style: italic;
}
